<% if (user) { %>
<div class="user-box row">
  <h2>Bienvenido <%= user.email %>!</h2>
  <form action="/logout" method="post" class="form-logout">
    <button>Salir</button>
  </form>
</div>
<% } %>
<nav class="navbar">
  <a href="/" class="navbar__link">Home</a>
  <a href="/products" class="navbar__link">Productos</a>
  <% if (!user) { %><a href="/login" class="navbar__link">Login</a><% } %>
</nav>
